<div id="radio">
	<div id="radio-top">
		<div class="right">60's Rock</div>
		<img src="http://farm4.static.flickr.com/3288/2353968186_860446d29c_t_d.jpg" width="30" height="30" />
	</div>
	<div id="radio-middle">

		<div id="track-logo" class="logo"><img src="<?=html?>images/loading-small.gif" alt="Loading" class="loading" /></div>
		<div class="track-info">
			<h2 id="track-title"></h2>
			<p id="track-artist"></p>
			<p id="track-album"></p>
		</div>
		<div id="voting">
			Vote up / down
		</div>
		<div id="stats">
		Current Stats
		</div>
	</div>
	<div id="radio-bottom">
		Comment
		Add a song
		Buy track
	</div>
	<div id="track">
		<%# <div class="status">Connecting to Radio<br /><img src="<?=html?>images/loading-small.gif" alt="Loading" /></div> %>
		
	</div>
</div>
<div id="player"></div>

<script type="text/javascript">
	tuneful.radio.connect(
		{'playlist' : {'servertime': 123, 'tracks' : [{'id': 2, 'title': 'Hey Joe', 'artist':'Jimi Hendrix','album':'','url':'QLnKUiybiFo'}] },
		 'station' : {'title': '60\'s Rock', 'url': 'werwrewrwr'} }
	);
</script>