<h1>Listing stations</h1>

<table>
  <tr>
  </tr>

<% @stations.each do |station| %>
  <tr>
    <td><%= link_to 'Show', station %></td>
    <td><%= link_to 'Edit', edit_station_path(station) %></td>
    <td><%= link_to 'Destroy', station, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New station', new_station_path %>