<style type="text/css">
	#top {
		height: 220px;
	}
</style>

<div id="tuneful">

	<div id="top">
	</div>	
	<hr />
	<div id="stations">
		<div class="card card-large" id="station-1">
			<div class="strip"></div>
			<h3>Station 1</h3>
			<div class="image"><img src="http://farm3.static.flickr.com/2501/4210035862_d5ab0cb04f.jpg" /></div>
			<ul class="tracks">
				<li class="track"><a href="#">Hey Joe / Jimi Hendrix</a></li>
				<li class="track"><a href="#">Hey Joe / Jimi Hendrix</a></li>
				<li class="track"><a href="#">Hey Joe / Jimi Hendrix</a></li>
				<li class="track"><a href="#">Hey Joe / Jimi Hendrix</a></li>
				<li class="track"><a href="#">Hey Joe / Jimi Hendrix</a></li>
				<li class="track"><a href="#">Hey Joe / Jimi Hendrix</a></li>
				<li class="track"><a href="#">Hey Joe / Jimi Hendrix</a></li>
				<li class="track"><a href="#">More...</a></li>
			</ul>
			<div class="actions">
				<a href="#">Subscribe</a>
				<a href="#">Listen</a>
			</div>
			<div class="subscribers">
				87 Subscribers
			</div>
		</div>
		<div class="card card-large"></div>
		<div class="card card-large last"></div>
	</div>
	<div class="c"></div>
</div>
