body, html {
	background: #FFF;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande","Tahoma","Lucida Sans Unicode",Tahoma,Verdana;
	color: #20212F;
}
html { font-size: 62.5%;}
body { font-size: 1.4em; }
.clear, .c { clear: both; }
a { text-decoration: none; outline: none; color: #666666;}
a:hover { text-decoration: underline; color: #069;}
img { border: none; }

h1, h2, h3, h4, p { padding: 0; margin: 0; }
h1, h2, h3, h4 { color: #2e4143;}
h1 { 
	font-size: 250%; 
	border-bottom: 4px solid #2e4143;
	margin-bottom: 10px; 
}

hr { color: #CCC; background: #CCC; height: 1px; border: none; line-height: 1px; }

table { border-collapse: collapse ;}

textarea {
	font-size: 100%;
	font-family: "Lucida Grande","Tahoma","Lucida Sans Unicode",Tahoma,Verdana;	
}
.right { float: right; } .left { float: left; }

/*******
*
*   General Content Layout
*
********/
#logo {
	width: 200px;
	float: left;
}

#tuneful { 
	margin: 20px auto;
	padding: 25px 45px;
	width: 1024px;
}

.button {
	padding: 5px 10px;
	border: 1px solid #bbb;
	background: #ddd;
	text-decoration: none;
	margin: 0 5px 0 0;
}
.button:hover {
	text-decoration: none;
	background: #aaa;
	color: black;
	border: 1px solid #777;
}

#sidebar {
	float: right;
	background: #ddd;
	padding: 20px;
	margin-left: 60px;
}

#sidebar h2 {
	padding-bottom: 1px;
	border-bottom: 1px solid #aaa;
}

.help { clear: both; color: #999; float: right;}

.loading { text-align: center ; padding-top: 50px; }

#footer {
	border-top: 1px solid #CCC;
	font-size: 80%;
	padding-top: 5px;
	margin: 0 20px;
}

/*******
*
*   Site-wide layout (shared across pages)
*
********/

#banner {
	height: 40px;
	background: #C3D5DF;
	padding: 8px 14px;
	border-bottom: 1px solid #8FAEBF;
}

#notif {
	background: #FEFFBF;
	text-align: center;
	padding: 8px 0;
	color: #666666;
	border-top: 1px solid white;
	border-bottom: 1px solid #DEDF99;
}
#notif img {
	margin-right: 10px;
}

#header {
	margin-bottom: 40px;
}

.logo {
	width: 200px;
	height: 200px;
	background: #ccc;
	float: left;
}

.info {
	text-align: right;
	margin-left: 220px;
}

.actions { 
	float: left;
	margin-top: 5px;
}

#feed {
	margin-right: 333px;
}
#feed-actions { float: right; }
.feed-item { 
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}
.feed-date { font-size: 70%; }

.comment-form {
	margin: 20px 0 30px 0;
	display: none;
}
.comment-form textarea {
	padding: 20px;
	width: 760px;
	font-size: 120%;
	height: 120px;
}
.comment-form input.submit {
	float: right;
	margin-top: 10px;
}


/*******
*
*   General Content Layout
*
********/

#stations {
	padding-top: 30px;
}

#stations .card {
	float: left;
	background: white;
	margin-right: 30px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	padding-top: 20px;
	padding: 10px 10px 10px 10px;
	position: relative;
}
#stations .last { margin-right: 0; } 

#stations .card h3, #stations .card .strip {
	position: absolute;
	width: 100%;
	margin-top: 10px;
	padding: 0 15px;
}
#stations .card h3 {
	color: black;
}
#stations .card .strip {
	background: white;
	opacity: .7;
	height: 25px;
}

#stations .card-large {
	width: 300px;
	height: 400px;
}
#stations .card-large .image { 
	width: 300px;
	overflow: hidden;
}

#stations .actions, #stations .subscribers {
	position: absolute;
	bottom: 6px;
}
#stations .actions {
	left: 12px;
}
#stations .subscribers {
	right: 12px; 
}

#stations .tracks {
	position: absolute;
	top: 40px;
	right: 0;
	padding: 8px 15px 8px 8px;
	background: url('../images/white_04.png');
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
#stations .track {
	list-style: none;
	padding: 5px;
	text-align: right;
}
#stations .track a {
	padding: 5px;	
}
#stations .track a:hover {
	background: white;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: black;
}

/*******
*
*   Radio
*
********/

#radio {
	width: 490px;
	height: 30px;
	background: #666666;
	bottom: 0;
	float: left;
	padding: 5px;
	
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#radio #radio-left, #radio #radio-right {
	height: 30px;
	float: left;
}
#radio #radio-left {
	width: 300px;
}
#radio #radio-right {
	width: 154px;
}

#radio #radio-contents {
	float: left; 
	width: 93%;
}

#radio a {
	color: black;
}


#radio-header .logo {
	width: 20px;
	height: 20px;
	float: right;
	background: #333;
}
#track-logo {
	width: 80px;
	height: 80px;
	margin: 0px 22px 2px 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}
#track-logo .loading {
	margin-top: 55px;
	padding-top: 0;
}

#buy {
	float: right;
}

#flash { display: none; }

#radio-controls {
	float: right;
}
.control { width: 32px; height: 32px; display: block; float: right; text-align: center; }
#track-title { font-weight: bold; }

.track-info { 
	float: left; 
	color: #CCC; 
	width: 100%;
}
.track-info-sub {
margin: 0 0 0 6px; 
padding: 6px 7px; 
background: #444;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
overflow: hidden;
	position: relative;	
}
.track-info-wrapper {
	height: 18px;
	overflow: hidden;
	float: left;
	width: 9999px;
}
.track-info-words { display: inline; }
.track-info h2, .track-info p { display: inline; }
#radio #track-info-toggle { 
	font-size: 150%; 
	padding: 10px; 
	height: 20px; 
	background: #444 ; 
	position: absolute; 
	padding: 1px 10px 10px 16px;
	right: 0; 
	top: 0;
}
#radio .track-info a { color: #999; }
#radio .track-info a:hover { text-decoration: none; }

#track-voting {
	padding: 6px 7px;
	float: left;
}
#track-voting a {
	margin: 0 4px;
}
#radio-more {
	float: left;
	background: #CCC;
	padding: 4px 28px 4px 12px;
	margin: 2px 6px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px;

	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;	
	
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	position: relative;
}
#radio-more a {
	text-decoration: none;
}
#radio-more-menu {	
	display: none;
	background: #CCC;
	position: absolute;
	top: 25px;
	padding: 10px;
	font-size: 80%;
	left: 0;
	width: 200px;
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-left-radius: 10px;
	
	-moz-border-radius-bottomright: 10px; 
	-webkit-border-bottom-right-radius: 10px;
	font-weight: bold;
}
#radio-more-menu ul, #radio-more-menu li {
	font-weight: normal;
	padding: 0;
	clear: both;
	list-style: none;
}
#radio-more-menu li img {
	margin-right: 10px;
	float: left;
	display: block;	
}
#radio-more-menu ul {
	margin: 5px 0 8px 0;
}
#radio-more-menu li {
	margin: 0 0 7px 0;
}
#radio-more-menu a:hover {
	text-decoration: underline;
}
#radio-more-menu form {
	display: none;
}
#radio-more-menu textarea {
	width: 100%;
	height: 86px;
	margin-bottom: 4px;
}
#radio-more-menu input {
	float: right;
}
#menu-buy-links {
	font-weight: normal;
	display: none; 
	height: 60px;
}

#radio-state { 
	float: left; 
	border-right: 1px solid #CCC; 
	padding: 15px 20px 0 0;
	margin-right: 20px; 
	text-transform: uppercase; 
	height: 35px;
}
#radio-thumbs { float: right; padding-top: 5px; width: 120px;}

#radio #popout { float: right; }

#radio #station-info { float: right; }

#radio #voting { float: left; width: 100px; }
#radio #stats { float: left; width: 100px; }

/*******
*
*   Station Page Layout
*
********/


#search {
	padding: 40px 0;
}
#search-field {
	margin: 10px 0;
	padding: 12px; 
	width: 900px;
	border: 2px solid #ccc;
	font-size: 130%;
	
}

#add-song {
	padding: 30px;
}

#add-song input {
	margin: 20px 0;
	font-size: 130%;
	width: 100%;
	padding: 7px;
	margin-left: -7px;
}

#add-song #search-results {
	width: 100%;
	border: 1px dashed #CCC;
	padding: 7px;
	margin-left: -7px;
}
#add-song #search-results li {
	list-style-position: inside;
}

#add-song #title {
	margin: 10px 0;
	padding: 5px;
	font-size: 120%;
	width: 710px;
	
}

#add-song #track-details {
	display: none;
}

#track-details #track-image {
	float: right;
}

#track-details #track-reset { float: right; margin-right: 15px; }

#track-details h3 { font-weight: normal; }

/*******
*
*	Minimalist Page
*
*******/

#the-floating-log {
	margin: 40px auto 40px;
	width: 800px;
	padding: 30px;
	background: #EFF0FF;
	border: 1px solid #CBC2EF;
	line-height: 20px;
}
#the-floating-log #logo {
	float: left;
	width: 350px;
	color: yellow;
	font-size: 260%;
	height: 40px;
}
#the-floating-log .invite-codes {
	width: 600px;
	margin: 30px auto;
	height: 80px;
}
#the-floating-log .invite-codes {
	text-align: center;
}
#the-floating-log .invite-codes p {
	margin-bottom: 10px;
}
#the-floating-log #login {
	width: 330px;
	margin: 0 auto;
}
#the-floating-log #login .clear {
	height: 10px;
}
#the-floating-log #login label {
	float: left;
}
#the-floating-log #login input {
	float: right;
}
#the-floating-log hr { color: #CBC2EF; background: #CBC2EF; height: 1px; border: none; line-height: 1px; }


/*******
*
*	Invites
*
*******/

#invites form {
	line-height: 35px;
}
#invites #wrapper {
	border: 1px solid #9999AF;
	margin: 20px;
	padding: 10px;
}
#invites #invite-collection input {
	width: 80%;
	padding: 5px 7px;
	font-size: 120%;
	border: 1px solid #999;
	background: #EEE;
	float: right;
}
#invites #invite-collection input.error {
	background: #FFE2BF;
	color: #3F0000;
	border: 1px solid red;
}

#invites #invite-collection input.works {
	background: #D1EFD2;
	border: 1px solid #043F06;
}
#invites #submit {
	float: right;
	margin-right: 20px;
}
#invites .an-invite {
	margin-bottom: 10px;
}
#invites .an-invite .error-msg {
	display: none;
	font-size: 80%;
	color: red;
	clear: both;
	text-align: right;
	margin-right: 20px;
}
#invites #add-more {
	font-size: 80%;
	color: #666666;
}